      .miletra
        {
	margin-right: 36.7pt;
	margin-left: 36.7pt;
	text-align: left;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	font-weight: bold;
        }
		.conte_derecha
        {
	margin-right: 36.7pt;
	margin-left: 36.7pt;
	text-align: justify;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	line-height:200%;
        }
		 .repositorio
        {
	
	text-align: justify;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	color: #000;
	font-weight: normal;
	line-height:150%;
	}
		  .cate
        {
	text-align: center;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	color: #000;
	font-weight: bold;
	line-height:150%;
        }
		 .mistitulos
        {
	text-align: center;
	font-size: 16px;
	font-family:"Arial"
	color: #CC6631;
	font-weight: bold;
	color: #cc6631;
	font-family: "Arial Black", Gadget, sans-serif;
        }
	  
	  .style13
        {
            width: 100px;
        }
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td .style16 tr td .style27 .style29 a {
}
        p.MsoNormal
        {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 0cm;
            line-height: 115%;
            font-size: 11.0pt;
            font-family: "Calibri" , "sans-serif";
        }
        .style16
        {
	width: 100%;
	color: #FF0;
	text-align: center;
	font-weight: bold;
        }
        .style18
        {
	height: 48px;
	color: #FFC;
        }
        .style4
        {
            font-family: Times New Roman;
            font-size: 14pt;
            color: #FFFFFF;
        }
        .style22
        {
            width: 158px;
            text-align: left;
            height: 29px;
        }
        .style21
        {
            height: 39px;
        }
        .style25
        {
            width: 256px;
        }
        .style26
        {
            height: 199px;
        }
        .style27
        {
            height: 138px;
        }
        .style28
        {
            height: 43px;
            color: #FFFFFF;
            font-family: Arial;
        }
               .style29
        {
            font-family: Verdana;
            font-size: small;
            color: #990000;
        }
        .style30
        {
	height: 68px;
	text-align: center;
        }
        .style31
        {
            height: 38px;
            font-family: Arial;
            font-size: 11pt;
            color: white;
        }
        .style32
        {
            height: 23px;
        }
        .style33
        {
            width: 133px;
        }
        .style34
        {
            height: 43px;
            color: #FFFFFF;
            font-family: Verdana;
            font-size: small;
        }
        .style35
        {
            height: 18px;
        }
        .style36
        {
	height: 38px;
	font-weight: bold;
	text-align: center;
	color: #000;
        }
        .style37
        {
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
        }
        .style38
        {
        }
        .style39
        {
            height: 38px;
            font-family: Arial;
            color: white;
        }
        p
        {
	margin-right: 36.7pt;
	margin-left: 36.7pt;
	text-align: justify;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	font-weight: normal;
        }
        .style40
        {
            height: 56px;
        }
        .style41
        {
            height: 212px;
        }
        .style42
        {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: medium;
	text-align: justify;
        }
        .style43
        {
            height: 139px;
        }
        .style44
        {
            font-size: x-large;
        }

                .style45
        {
	font-family: Arial, Helvetica, sans-serif;
	color: #F7F77A;
	text-transform: uppercase;
	font-weight: bold;
	font-size: xx-large;
        }
    .formato {
	font-weight: bold;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td .style16 tr td .formato strong {
	color: #FFF;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 .Contenido td {
	text-align: justify;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 .Titulo .style18 strong {
	font-size: 22px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
}
    .titu {
	text-align: center;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr #JJ .texto {
}
    #SAS {
	font-size: 14px;
	color: #FFF;
}
    #LISS {
}
    #letras {
	text-align: justify;
}
    #AA {
	color: #000;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #SSS {
	color: #000;
}
    #form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #AA {
	color: #000;
}
    #LLL {
	font-size: 14px;
	color: #FFF;
	text-align: justify;
}
    #letras {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
    #letrtas {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
}
    #LLLLL {
	color: #000;
}
    .LLLLL {
	color: #FFF;
}
.style271 {            height: 138px;
}
.style291 {            font-family: Verdana;
            font-size: small;
            color: #F7F77A;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:active {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #F60;
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	text-align: center;
}
body {
	background-image: url(fondo.png);
	background-repeat: repeat;
}
.CENTRADOTITU {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}
.derecha {
	text-align: right;
}
#color_id {
	text-align: left;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td .style16 tr td center strong {
	color: #000;
}
.texto {
	text-align: justify;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p {
	color: #000;
	text-align: justify;
	font-size: medium;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p {
	font-family: Arial, Helvetica, sans-serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p {
	font-family: "Courier New", Courier, monospace;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p {
	font-family: Tahoma, Geneva, sans-serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#letras {
	font-style: normal;
	font-weight: normal;
}
.s {
	font-weight: bold;
}
.le {
	font-size: 26px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p strong {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center ul li {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center ul li {
	text-align: justify;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p strong {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p strong {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr .style18 center p strong {
	color: #000;
}
#JUSTIFICADO {
	text-align: justify;
	font-size: 12;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr td p #JUSTIFICADO {
	text-align: justify;
}
#JUS {
	text-align: justify;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr td ul li center #JUS {
	text-align: left;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr td div {
	font-size: medium;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr td ul li center #JUS {
	text-align: center;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View1 .style16 tr td {
	color: #009;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 table tr th {
	font-family: "Times New Roman", Times, serif;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
.ss {
	font-weight: bold;
	text-align: center;
}
#fcfd {
	text-align: right;
}
#ll {
	font-size: 11px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 table tr th a font {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	color: #FF0;
}
#letar {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
.style161 {
	width: 80%;
	color: #FFF;
	text-align: center;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 table tr th p a center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 table tr th p center a {
	font-family: "Times New Roman", Times, serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 table tr th p center a {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr td {
	color: #FFF;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	list-style-type: disc;
	position: absolute;
	font-weight: normal;
	font-variant: normal;
}
#JH {
	text-align: center;
}
#JJ {
	text-align: left;
}
#CENT {
	text-align: center;
}
#LL {
	text-align: left;
}
#mis {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}
#mis {
	font-weight: normal;
}
#mis {
	font-weight: normal;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th ul li {
	font-weight: normal;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th ul li {
	font-size: 14px;
}
#YY {
	color: #000;
}
a {
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
}
#let {
	text-align: justify;
}
#let {
	text-align: justify;
}
#letrt {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #letrt {
	color: #000;
}
#s {
	text-align: center;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #let {
	font-size: 14px;
}
#mis {
	color: #000;
	font-size: 15px;
}
#LL {
	color: #FFF;
	text-align: justify;
	font-weight: normal;
}
#LISSS {
	color: #FFF;
}
#LISS {
	font-weight: normal;
	font-size: 14px;
	text-align: justify;
	color: #FFF;
}
#listo {
	text-align: justify;
}
#iss {
	font-size: 14px;
}
#idss {
	color: #FFF;
}
.idss {
	text-align: justify;
}
#idss {
	font-weight: normal;
}
#idss {
	font-size: 14px;
}
#idss {
	text-align: left;
}
#id {
	text-align: justify;
}
#idss {
	font-size: 14px;
}
.idss {
	text-align: justify;
}
.idss {
	text-align: justify;
}
#ss {
	text-align: justify;
}
.ss {
	font-size: 14px;
}
.ss {
	font-weight: normal;
}
.ss {
	color: #FFF;
}
center {
	color: #F7F77A;
	word-spacing: normal;
	vertical-align: super;
}
#mi {
	color: #FFF;
	font-weight: normal;
}
#mi {
	text-align: justify;
}
#mi {
	font-weight: normal;
}
#zzz {
	color: #000;
}
th {
	color: #000;
	text-align: justify;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #mi {
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}
#misletras {
	color: #FFF;
}
#misletras {
	text-align: justify;
}
#AA {
	color: #000;
}
#AA {
	color: #000;
}
#SSS {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr th #mis2 {
	font-weight: normal;
	text-align: justify;
	font-size: 14px;
}
#ss {
	text-align: justify;
}
.ll {
	text-align: justify;
}
#s {
	font-weight: normal;
	font-size: 14px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr td table tr th table tr #LLL #s {
	text-align: justify;
}
#MIS {
	font-size: 14px;
	font-weight: normal;
	text-align: justify;
	color: #EFEFEF;
}
#SSS {
	color: #FFF;
}
#SSSSS {
	color: #FFF;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #LLLLL {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #letrt {
	color: #000;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #AA {
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}
#LI {
	color: #FFF;
	text-align: justify;
	font-weight: normal;
	font-size: 14px;
}
.negrita {
	font-weight: bold;
	color: #FC3;
}
#letars {
	font-size: 14px;
	text-align: justify;
	font-weight: normal;
	color: #FFF;
}
#justificado {
	text-align: justify;
}
#justificado {
	font-size: 14px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr th #justificado {
	color: #FFF;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr th #justificado {
	font-weight: normal;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr th #justificado {
	font-size: 14px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr th #justificado {
	color: #FFF;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr th #LI2 {
	color: #FFF;
	font-weight: normal;
	text-align: justify;
	font-size: 14px;
}
#color {
	color: #FC0;
	font-weight: bold;
}
#A {
	color: #FC0;
}
#AA {
	text-align: justify;
}
#AA {
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #AA #AA {
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #AA #AA {
	color: #FC0;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #let4 {
	color: #FFF;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #let4 {
	color: #FFF;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #let4 {
	font-size: 14px;
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #let4 {
	font-weight: bold;
}
#LL {
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #let4 table tr #let4 {
	font-weight: normal;
	text-align: justify;
}
#LL {
	font-weight: normal;
}
#COLOR {
	color: #FC0;
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th table tr td table tr #letrtas {
	text-align: center;
}
#COLO {
	color: #FC0;
	font-weight: bold;
}
#ali {
	text-align: center;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center .style16 tr td #MultiView1 #View3 center table tr th {
	text-align: left;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr th table tr td table tr th {
	text-align: justify;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr th table tr td table tr td center {
	font-weight: bold;
	font-size: 16px;
}
.color {
	color: #FF3;
}
.color {
	font-size: 16px;
	text-align: center;
}
mis {
	text-align: justify;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th ul li a {
	text-align: justify;
}
.alineado {
	text-align: justify;
	font-size: 12px;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th .alineado li a {
	font-size: 14;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th .alineado li a {
	font-weight: bold;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th .alineado li a {
	font-size: 16px;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th .alineado li a {
	font-family: Verdana, Geneva, sans-serif;
}
#form1 div center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr th .alineado li a {
	font-family: "Times New Roman", Times, serif;
}



LETRAS {
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td {
	font-weight: bold;
	text-align: left;
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table tr td table tr td {
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td #MultiView1 #View3 table {
	color: #000;
}
categoriass {
	text-align: left;
}
cate {
	text-align: left;
}
#cate {
	text-align: left;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr .miletra table tr td {
	text-align: left;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr .miletra table tr td center {
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr th .idss a {
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr th .idss a {
	text-align: justify;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr th .idss a {
	text-align: left;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr th .idss a {
	text-align: justify;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td ul li a font {
	text-align: left;
}
#CENTRO {
	text-align: center;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr td center {
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr td ul li a {
	font-size: 14px;
}
#HH {
	font-weight: normal;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td #MultiView1 table tr td table tr td font {
	text-align: center;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td #MultiView1 table tr td table tr td {
	text-align: justify;
}
body,td,th {
	font-size: 14px;
	text-align: justify;
}
#fecha {
	font-size: 12px;
}
#fecha {
	font-size: 12px;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#mapa {
	color: #000;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td table tr td {
	text-align: justify;
}
.descargar {
	font-weight: bold;
	text-align: center;
	color: #600;
}
#form1 center .style13 tr .style13 #UpdatePanel2 contenttemplate center table tr td table tr td #MultiView1 table tr td table tr td font {
	text-align: justify;
}
.sinnegrita {
	font-weight: normal;
	text-align: justify;
}
.sinnegritainterlineado {
	font-weight: normal;
	text-align: justify;
	line-height:200%;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
}
#NEGRITA {
	font-weight: bold;
}
#ne {
	font-weight: bold;
}
#ne {
	font-weight: bold;
}
#just {
	text-align: justify;
}
#JUSTIFICADO {
	text-align: justify;
}
#form1 table tr td table tr td table tr #JUSTIFICADO2 {
	text-align: justify;
}
#just {
	text-align: justify;
}
.negita {
	font-weight: bold;
}
.negita {
	font-weight: bold;
}
#form1 table tr td table tr td table tr td table tr td table tr th table tr td {
	font-size: 13px;
}
#form1 table tr td table tr td table tr td table tr th {
	text-align: justify;
}
.NEEE {
	font-weight: bold;
}
#form1 table tr td table tr td ul li a {
	text-align: justify;
}
justificado {
	text-align: justify;
}
#form1 table tr td table tr td ul .s {
	font-weight: normal;
}
#form1 table tr td table tr td ul .s a {
	text-align: left;
}
#form1 table tr td table {
	text-align: justify;
}
#form1 table tr td table {
	text-align: justify;
}
#form1 table tr td table {
	text-align: justify;
}
#form1 table tr td table tr td .alineado tr td {
	text-align: justify;
}
negris {
	font-weight: bold;
}
#form1 table tr td table tr td table tr td table {
	text-align: left;
}
#ne {
	font-weight: bold;
}
#ne {
	font-weight: bold;
}
#ne {
	font-weight: bold;
}
.sinnegrita1 {	font-weight: normal;
}